
/* Header全体のコンテナ */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #01195C;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000000; /* 他の要素の上に表示 */
}

.header-logo {
  text-align: center;
}

.header-logo img {
  width: 80%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.menu-inline{
  display:none;
}

@media(min-width:768px){
  .header-logo img{
    width:65%;
    margin-left:20px;
    margin-right:20px;
  }

  .menu-inline{
    display:flex;
  }
}


.header-text {
  color: #707070;
  font-size: 20px;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-weight: 300;
  word-wrap: break-word;
}

@media(max-width:600px){
  .header-text {
    font-size: 16px;
  }
}

.LanguageSwitcher{
  padding-right:20px;
  padding-left:20px;
}

.menu-inline button{
  position: relative;
  color:white;
  font-size: 16px;
  background-color: #01195C;
  height:60px;
  width:10vw;
  border: none;
  overflow: hidden;
}

.menu-inline button:hover{
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.menu-inline button.active{
  border-bottom: 2px solid white;
  font-size: 20px;
  font-weight: 600;
}

/* ボタンの下に線を引くためのスタイル */
.menu-inline button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* 中央に配置 */
  width: 0; /* 初期状態では線が見えない */
  height: 2px; /* 線の太さ */
  background-color: white; /* 線の色 */
  transition: width 0.4s ease, left 0.4s ease; /* アニメーション */
}

/* ホバーしたときに線が左右に広がる */
.menu-inline button:hover::after {
  width: 100%; /* 線がボタンの幅全体に広がる */
  left: 0; /* 線をボタン全体に展開 */
}

/* ハンバーガーメニュー */
@media (min-width: 768px) {
  /* ハンバーガーメニューを非表示にする */
  .menu-btn,
  .menu-icon {
    display: none !important;  /* ハンバーガーメニューを消す */
  }
}
/* Navbar & Navmenu color */
:root {
  --background-navbar:  #01195C;
}

/* Nav items */
.menu {
  list-style: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 60px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

.menu.open {
  display: block;
  transform: scale(1, 1);
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #ddd;
  opacity: 0;
  transition: 0.5s;
}

.menu li {
  border-bottom: 1px solid white;
  padding: 15px 0;
  margin: 0 20px;
  opacity: 0;
  transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: #01195C;
}

.navicon {
  background: #ddd;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ddd;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: #01195C;
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */